<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taco</title>
</head>
<body>
<h1>Design your Taco</h1>
<img th:src="@{/images/pizza.jpg}"/>

<form method="post" th:object="${design}">
    <h3>Designate your wrap:</h3>
    <div th:each="ingredients : ${wrap}">
        <label>
            <input type="checkbox"  name="ingredients" th:value="${ingredients.name}"/>
        </label>
        <span th:text="${ingredients.name}">INGREDIENT</span>
   </div>
    <h3>Pick your protein:</h3>
    <div th:each="ingredients : ${protein}">
        <label>
            <input name="ingredients" type="checkbox" th:value="${ingredients.name}"/>
        </label>
        <span th:text="${ingredients.name}">INGREDIENT</span><br/>
    </div>
  <div>
        <h3>Name your taco creation:</h3>
        <input type="text" th:field="*{name}"/>
        <br/>
        <button>Submit your taco</button>
    </div>
</form>
</body>
</html>