<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taco</title>
</head>
<body>
<form method="post" th:action="@{/orders}" th:object="${order}">
    <h1>Order your Taco creations!</h1>
    <a th:href="@{/design}" id="another">Design another taco</a><br/>
    <h3>Deliver my taco masterpieces to...</h3>
    <label for="another">Name: </label>
    <label>
        <input type="text" th:field="*{name}"/>
    </label>
    <br/>
    <label for="another">Street address: </label>
    <label>
        <input type="text" th:field="*{street}"/>
    </label>
    <br/>
    <input type="submit" value="Submit order"/>
</form>
</body>
</html>